
@import 'footer';
@import 'nav';
@import 'colores';
* { margin:0; padding:0;}

$medidaMain: 1000px;

/* Imagen del body */
body {
		background-image: url('gym.jpeg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center center;
		opacity: 0, 6;
}

/* Posicion del header */
header { 
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 5%;
	background-color: rgba(32, 32, 36, 0.8)
}

/*Boton de HOME */
a:hover {
    text-decoration: underline;
}

.boton_personalizado {
  border: 2px solid whitesmoke;
  padding: 10px;
  border-radius: 30px;
  background: #000;

}
/* Contenedor de centros */	

.contenedor{ 
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
	display: flex;

}

.contenedor__cards {
    margin: 30px;

}

/* Estilo del bloque */
.card {
    background: #E6E6E6;
    border-radius: 15px;
    padding: 20px;
	display: flex;
    align-items: center;
   
}

.card__thumbnail {
    width:650px;
    height: 200px;
    border-radius: 10px;
}

.card__img {
    width: 40%;
	height: 50%;
	display: flex;
}

.card__titulo {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
	color: #6D6D6D;
    align-items: space-between;
	margin-bottom: 20px;
	margin-right: 150px;
	
}

.card__extracto {
	line-height: 28px;
	color: #6D6D6D;
	margin-bottom: 20px;
    font-size: 1em;
	display: flex;
	justify-content: left;
	align-items: right;
}

/* Boton de la pagina de entrenamientos */
.boton {
	display: inline-block;
	text-decoration: none;
	display: inline-flex;
	justify-content: space-between;
	
}
/* Boton Ver mas */
.boton__texto {
	font-weight: 700px;
	color: #6D6D6D;
	text-decoration: underline;
	
}

/* Boton Asociate */
.boton__negro {
	margin-top:50px;
	border: 2px solid #6D6D6D;
	padding: 30px;
	background: #000;
	border-radius: 20px;
}

.boton__negro:hover {
	background: #4C4C4C;
}

/* Frase "no te quedes afuera" */
.frase__texto {
	font-size: 25px;
	font-family: 'Tenor Sans', sans-serif;
	color: whitesmoke;
}


/* Color de los titulos */
h1 {

	color: white;
	font-size: 40px;
	font-family: "Tenor Sans" sans-serif !important;
	align-items: center;
}

.tituloprincipal{ 
	color: white;
	font-size: 40px;
	font-family: "Tenor Sans" sans-serif;
	align-items:center;
}


.text-right { 
	display: flex;
	align-content: right;

}
/*Estilo de los parrafos */
p {
	font-family: "Tenor Sans", sans-serif;
	font-weight:500 ;
	font-size: 20px;
	color: whitesmoke;

}


/* Botones para el slider */
.menu{
	text-align: center;
	margin: 20px;
	display: flex;

}

.menu.li{
	display: inline-block;
	text-align: center;

}

.menu li a{
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: grey;
	padding: 10px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	border-radius: 100%;
}


/* Pagina de entrenamientos - imagenes flex */

.padre-flex1 {
	display: flex;
	align-content: center;
	text-align: center;
	font-family: "Tenor Sans", sans-serif;
	color:whitesmoke;
	font-size:18px;

    
}
	
	.padre-flex2 {
		display: flex;
		align-content: center;
		text-align: center;
		font-family: "Tenor Sans", sans-serif;
		color:whitesmoke;
		font-size:18px;
		
		
	}
.fila1{ 

	flex-direction: row;
	justify-content: space-between;
	padding: 1.5em;

}

.fila2{
	flex-direction: row;
	justify-content: space-between;
	padding: 1.5em;
}